@charset "UTF-8";

* {
	margin: 0;
	border: 0;
	padding: 0;
}

⁄ body {
	font-family: arial;
}

body img {
	float: left;
	width: 130px;
	height: auto;
}

p {
	margin-top: 40px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.cuerpo {
	padding: 20px;
	text-align: justify;
	margin-top: 110px;
	margin-left: 115px;
	margin-right: 115px;
	background-color: rgba(236, 247, 255, 0.5);
}

/* Estilos de la imagen */
.imagen-zoom {
	position: relative;
	margin-top: 0px;
	/* Ajusta este valor según la separación que desees */
	margin-bottom: 10px;
	margin-left: 5rem;
	z-index: 1;
	/* Valor menor que el del navbar para asegurarse de que la imagen esté detrás del navbar */
}

.imagen-zoom:hover {
	transform: scale(1.3);
	/* Aplica un zoom del 110% */
}

.tituloContacto {
	text-align: center;
}

label {
	text-align: left;
}

.contacto {

	padding: 20px;
	text-align: justify;
	margin-top: 110px;
	margin-left: 115px;
	margin-right: 115px;
	background-color: rgba(236, 247, 255, 0.5);
}

.boton-enviar {
	text-align: center;
	border: 2px solid black;
	font-size: 18px;
	/* Tamaño de fuente */
	font-weight: bold;
	/* Negrita */
	padding: 10px 20px;
	/* Espaciado interno del botón */
}

input[type="text"],
textarea {

	border: 2px solid black;
	width: 500px;
	/* Ancho personalizado */
	height: 30px;
	/* Alto personalizado */
}

input[type="email"],
textarea {

	border: 2px solid black;
	width: 500px;
	/* Ancho personalizado */
	height: 30px;
	/* Alto personalizado */

}

.form-login {
	width: 400px;
	height: 340px;
	background: #4e4d4d;
	margin: auto;
	margin-top: 150px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid rgb(0, 128, 0);
	color: white;
}

.form-login h5 {
	margin: 10px;
	text-align: center;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid;
	font-size: 20px;

}

.caja {

	width: 100% !important;
	height: 30px;
	border: 1px solid rgb(0, 128, 0) !important;
	margin-bottom: 15px !important;
	padding: 11px 10px !important;
	background: #252323;
	font-size: 14px;
	font-weight: bold;
	outline: none;
}


#comentario {

	border: 2px solid black;
	width: 500px;
	/* Ancho personalizado */
	height: 80px;
	/* Alto personalizado */

}

.footer-container {
	margin-bottom: 80px;
	/* Espacio para evitar que el footer tape el contenido */
}

footer {
	margin-top: -80px;
	/* Desplazamiento hacia abajo para mantener el footer debajo del contenido */
}

	/* Modificación para el h1 en el formulario de contacto */
	.formulario-contacto h1.tituloContacto {
		margin-top: 40px;
		/* Ajustamos el margen superior */
		margin-bottom: 20px;
		/* Ajustamos el margen inferior */
	}

	/* Modificación para asegurar que el contenido flote debajo del logo en pantallas pequeñas */
	@media (max-width: 576px) {

		.formulario-contacto .col-md-4,
		.formulario-contacto .col-md-6 {
			order: 0;
		}

		.formulario-contacto .content-container {
			margin-top: 20px;
		}
	}